<div class="container">
    <div class="row">

        <section class="col-3">
            <h5 class="text-warning me-3 mt-4 mb-3">Sort</h5>
            <app-dropdown-selector [Options]="sortOptions" 
            [(selectedOption)]="shopParams.sort" (onChange)="getProducts()"
            ></app-dropdown-selector>

            <app-filter-button-list *ngIf="brands" (onSelect)="getProducts(true)" [Title]="'Brands'" [Options]="brands" [(optionId)]="shopParams.brandId"></app-filter-button-list>

            <app-filter-button-list *ngIf="productTypes" (onSelect)="getProducts(true)" [Title]="'Types'" [Options]="productTypes" [(optionId)]="shopParams.productTypeId"></app-filter-button-list>
            
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header 
                [pageNumber]="shopParams.pageNumber" 
                [pageSize]="shopParams.pageSize" 
                [totalCount]="totalCount"
                    ></app-paging-header>
                
                <div class="d-flex form-inline mt-2">

                    <input #search (keyup.enter)="onSearch()" type="text" class="form-control me-2 my-2" style="width: 300px" placeholder="Search">

                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success ms-2 my-2">Reset</button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
            <app-pager
            [(pageNumber)]="shopParams.pageNumber" 
            [pageSize]="shopParams.pageSize" 
            [totalCount]="totalCount"
            (onChange)="getProducts()"
                ></app-pager>
            
        </section>
    </div>
</div>